[apply]
  whitespace = fix
[core]
  autocrlf = input
  fileMode = false
  ignorecase = false
  whitespace = trailing-space
[user]
  name = ""
  email = ""
[i18n]
  filesEncoding = utf-8
[init]
  templatedir = ~/.git_template
[merge]
  ff = false
[push]
  default = current
[pull]
  ff = only
  rebase = false
[color]
  ui = auto
[fetch]
  prune = true
[diff]
  guitool = vscode
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge --skip -- %f
  required = true
  process = git-lfs filter-process --skip
