[apply]
  whitespace = fix
[core]
  autocrlf = input
  fileMode = false
  ignorecase = false
  whitespace = trailing-space
[user]
  name = ""
  email = ""
[i18n]
  filesEncoding = utf-8
[init]
  templatedir = ~/.git_template
[push]
  default = simple
