[apply]
  whitespace = fix
[core]
  autocrlf = input
  fileMode = false
  ignorecase = false
  whitespace = trailing-space
[user]
  name = ""
  email = ""
[i18n]
  filesEncoding = utf-8
[init]
  templatedir = ~/.git_template
[push]
  default = simple
[color]
  ui = auto
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge --skip -- %f
  required = true
  process = git-lfs filter-process --skip
