# IDE specific
.idea/
.idea_modules/
.vscode/

# General
*.log
*.tmp
*.gz
*.tar
~$*
node_modules/
Thumbs.db
.DS_Store
*.exe

# Scala
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Front end
**/node_modules/*
**/dist/*
